body {
	margin: 0;
	font-family: sans-serif;
}

.content {
	margin: 0 auto;
	width: 400px;
}

table, td, th {
	border: 1px solid #aaa;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}

th {
	height: 30px;
	background-color: #1EAEF9;
	color: white;
}

td {
	text-align: center;
	padding: 5px;
}

.form {
	margin-top: 20px;
	width: 100%;
	text-align: center;
}

#content {
	width: 70%;
}

input[type=submit] {
  background-color: #1EAEF9;
  border: none;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
}